*{
    text-decoration: none;
}
.container {
    display: grid;
    grid-template-areas:
    "header header header sidenav"
    "content content content sidenav"
    "content content content sidenav"
    "content content content sidenav"
    "content content content sidenav";
}
header{

    margin: 0;
    padding: 0px;
    
    background-color: #2b2c36;
   
}
.clipboard{
    font-size: 50px;
}
.navbar-top {
    display: flex;
    justify-content: space-between;
    color:#c9c9cb;
    width: 80%;
    margin: 20px;
    align-items: center;
    
   
}
.nav-user {
    display: flex;
    height: 10px;

}
.nav-links{
    display: flex;
    width: 40%;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
    font-size: 20px;
    align-content:
}

.nav-links > a {
    color: #c9c9cb;
}
.grid-container {
    display: grid;
    grid-gap: 10px;
    border:1px solid black;
    padding: 10px;
    
  }
 

  .header {
      grid-area: header;
      border: 1px solid red;
      height: 200px;
  }

  .content {
      grid-area: content;
      border: 1px solid blue;
  }
  .main-bar{
    background-color: #e2e2e2;
  }

  .sidebar {
      grid-area: sidenav;
      border: 1px solid green;
      display: grid;
      grid-template-rows: 200px auto;
  }

  .sidebar-top {
      color: #fff;
      height: 200px;
      background-color: #1a1e24;
      display: flex; 
      justify-content: center;
      align-items: flex-end;

  }
  

  .sidebar-header{
      display: flex;
      height: 300px;
      background-color: #202229;
      color:#c9c9cb;
      align-items: flex-end;
      justify-content: center;
      margin: none;
    }
    
    .title{
        font-size: 25px;
    }
    .sidebar-main {
     display: block;
     margin:none;
     text-decoration: none;
     list-style: none;
    height: 100%;
    
    }
    .sidebar-main a{
        color:#aaacb1;
    }
    .sidebar-main ul{
        margin:0,0,0,;
        padding: 0,0,0,0;
    }
    .sidebar-main  li{
     display: flex;
     justify-content: center;
     margin: 50px;
     border: none;
    }
    body{
        font: 1rem/1.6 "Helvetica", Sans-serif;
    }
    
    main{
        width: 90%;
        margin:50px auto;
        
        -moz-column-width: 220px;
        -webkit-column-width: 220px;
        column-width: 220px;
        
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
        
        -moz-column-gap: 20px;
        -webkit-column-gap: 20px;
        column-gap: 20px;
        
    }
    
    a[title] figure img{
        width: 100%;
        height: auto;
        margin-top:1rem;
    }
    
    main a[title]{
        text-decoration: none;
        padding: 1rem;
        color:#424242;
        box-shadow: 0 1px 3px rgba(0,0,0, .12), 0 1px 2px rgba(0,0,0, .24);
        display: inline-block;
        
        margin-bottom:20px;
        
        transition: all .3s cubic-bezier(0.25, .8, .25, 1);
    }
    
    main:hover a[title]:not(:hover){
        opacity: .6;
    }
    
    a[title]:hover{
        box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .20);
        
    }
   
    
    
  /* content */
  .grid1 {
    grid-area: content;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
 
     /* see grid auto auto*/ 

  }
 
 
 
 
 /*body, ul,li,p {
    margin: 0;
    padding: 0px;
    list-style: none;
    font-size:100%;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height:100%;
    
}
a {
    color: 	#c9c9cb;
    text-decoration: none;

}
.titleclip {
height: 50px;
 padding: 20px;
 justify-content: flex-stat;

}
.header{
    display: flex;
    background: #2b2c36;
    flex-wrap: wrap;
    padding: 20px;
    top: 0%;
    

}


.menu2{
    display: flex;
    margin-left: 10px;
    

}
.menu2 li {
    margin-left: 10px;
    align-content: flex-end;
    justify-content: space-between;
    margin:  25px;


}
.menu2 li a {
    display: flex;
    padding: 10px;
    flex-wrap: nowrap;
    
    
    
}
.menu1 {
display: flex;
justify-content:flex-end;
flex-flow: row;
padding: 25px;


}
.icons{
margin-top: 30px;
justify-content:flex-start;
float: right;

}
.search-icon {
    justify-content: flex-end;

}